body {
    background-color: rgb(238, 235, 232);
    font-family: Arial, Helvetica, sans-serif;
}
.songs, .albums {
    color: black;
}
.list-title {
    line-height: 2em;
    font-weight: bold;
    text-indent: 15px;
}
span {
    text-transform: uppercase;;
}
#top, h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.name {
    text-align: right;
}
.album-title {
    text-align: left;
}
table {
    text-align: center;
}
table {
    padding: 10px;
}
th, td {
    padding: 5px;
}
img {
    
}